* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 25px;
    scroll-behavior: smooth;
}

body {
    text-align: center;
    font-family: 'Source Serif 4', sans-serif, Raleway;

}
