.chef-image {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 398px;
        margin: 0 auto 30px;
    }
}

@media screen and (max-width:1024px) {
    .chef-image {
        img {
            max-width: 282px;
        }
    }
}

@media screen and (max-width:768px) {
    .chef-image {
        img {
            max-width: 251px;
            margin: 0 auto 20px;
        }
    }
}

@media screen and (max-width:650px) {
    .chef-image {
        img {
            max-width: 230px;
            margin: 0 auto 15px;
        }
    }
}

@media screen and (max-width:450px) {
    .chef-image {
        img {
            max-width: 210px;
        }
    }
}