.dish-title {
    margin-bottom: 30px;
    font-size: 1.6rem;
    font-weight: 600;
}

@media screen and (max-width:1024px) {
    .dish-title {
        font-size: 1.4rem;
    }
}

@media screen and (max-width:768px) {
    .dish-title {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
}