        .favorite-dishes {
            width: calc((100% - 2 * 48px) / 3);
            text-align: left;
            max-width: 360px;
            position: relative;
            &:not(:last-of-type) {
                margin-right: 48px;
            }
            &__image {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        
        .favorite-dishes-column {
            margin-top: 35px;
            &__title {
                font-size: 1.2rem;
                font-weight: 400;
            }
            &__text {
                font-size: 0.72rem;
                font-weight: $letter-weight;
                margin: 15px 0;
                color: $text-color;
            }
            &__price {
                font-size: 0.72rem;
                font-weight: 700;
            }
        }
        
        .favorite-dishes--red::before {
            @include pseudo("HOT!", #D33B3B);
        }
        
        .favorite-dishes--green::before {
            @include pseudo("NEW!", #B3E151);
        }
        
        .favorite-dishes--orange::before {
            @include pseudo("HIT!", #E5A434);
        }
        
        @media screen and (max-width:1240px) {
            .favorite-dishes {
                width: calc((100% - 2 * 30px) / 3);
                max-width: 305px;
                &:not(:last-of-type) {
                    margin-right: 30px;
                }
                &::before {
                    @include pseudo1240;
                }
            }
            .favorite-dishes-column {
                &__text {
                    font-size: 0.64rem;
                }
            }
        }
        
        @media screen and (max-width:1040px) {
            .favorite-dishes {
                max-width: 300px;
            }
        }
        
        @media screen and (max-width:1024px) {
            .favorite-dishes {
                width: calc((100% - 2 * 92px) / 3);
                max-width: 252px;
                &:not(:last-of-type) {
                    margin-right: 92px;
                }
                &::before {
                    @include pseudo1024;
                }
            }
            .favorite-dishes-column {
                margin-top: 15px;
                &__title {
                    font-size: $base-font;
                }
                &__text {
                    font-size: 0.56rem;
                    margin-bottom: 17px;
                }
                &__price {
                    font-size: 0.6rem;
                }
            }
        }
        
        @media screen and (max-width:1000px) {
            .favorite-dishes {
                max-width: 220px;
                width: calc((100% - 2 * 42px) / 3);
                &:not(:last-of-type) {
                    margin-right: 42px;
                }
                &::before {
                    @include pseudo1240;
                }
            }
            .favorite-dishes-column {
                &__text {
                    font-size: 0.48rem;
                }
            }
        }
        
        @media screen and (max-width:800px) {
            .favorite-dishes {
                max-width: 200px;
                width: calc((100% - 2 * 32px) / 3);
                &:not(:last-of-type) {
                    margin-right: 32px;
                }
            }
            .favorite-dishes-column {
                &__text {
                    font-size: 0.42rem;
                }
            }
        }
        
        @media screen and (max-width:768px) {
            .favorite-dishes {
                display: flex;
                max-width: 720px;
                width: 100%;
                &:not(:last-of-type) {
                    margin-bottom: 58px;
                    margin-right: 0;
                }
                &::before {
                    @include pseudo768;
                }
                &__image {
                    img {
                        max-width: 320px;
                    }
                }
            }
            .favorite-dishes-column {
                text-align: left;
                max-width: 348px;
                padding-top: 17px;
                margin: 0 0 0 24px;
                &__text {
                    font-size: 0.8rem;
                    margin: 20px 0;
                }
                &__price {
                    font-size: 0.8rem;
                }
            }
        }
        
        @media screen and (max-width:678px) {
            .favorite-dishes {
                max-width: 300px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                &:not(:last-of-type) {
                    margin-bottom: 48px;
                }
                &__image {
                    img {
                        max-width: 300px;
                    }
                }
            }
            .favorite-dishes-column {
                max-width: 300px;
                padding: 0;
                margin: 15px 0 0;
                &__title {
                    font-size: 0.88rem;
                }
                &__text {
                    font-size: 0.72rem;
                    margin: 15px 0;
                }
                &__price {
                    font-size: 0.72rem;
                }
            }
        }