.footer {
    background-color: #262626;
    @include section-padding;
    &__text {
        margin-bottom: 60px;
        color: #B1B1B1;
    }
}

@media screen and (max-width:1024px) {
    .footer {
        padding: 80px 0 78px;
        &__text {
            margin-bottom: 47px;
        }
    }
}

@media screen and (max-width:768px) {
    .footer {
        padding: 70px 0 65px;
        &__text {
            margin-bottom: 35px;
        }
    }
}

@media screen and (max-width:520px) {
    .footer {
        padding: 60px 0 55px;
        &__text {
            margin-bottom: 20px;
        }
    }
}