.logo {
    font-size: 2rem;
    color: $primary-color;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .logo {
        font-size: 1.4rem;
    }
}

@media screen and (max-width:600px) {
    .logo {
        align-self: center;
    }
}