.menu {
    display: flex;
    align-items: center;
    &__item {
        font-size: 0.88rem;
        color: $primary-color;
        text-decoration: none;
        &:not(:last-child) {
            margin-right: 25px;
        }
        &:not(:last-child)::after {
            @include line-after;
        }
    }
}

@media screen and (max-width: 1024px) {
    .menu {
        &__item {
            font-size: 0.72rem;
            &:not(:last-child)::after {
                @include line-after1024;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .menu {
        justify-content: center;
    }
}

@media screen and (max-width: 450px) {
    .menu {
        &__item {
            &:not(:last-child) {
                margin-right: 10px;
            }
            &:not(:last-child)::after {
                @include line-after450;
            }
        }
    }
}