@mixin pseudo($content, $bg-color) {
    position: absolute;
    width: 58px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    border-radius: 50%;
    color: #FFF;
    display: block;
    font-size: 0.56rem;
    font-weight: 600;
    top: -29px;
    left: -29px;
    content: $content;
    background-color: $bg-color;
}

@mixin pseudo1240 {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 0.4rem;
    top: - 24px;
    left: - 24px;
}

@mixin pseudo1024 {
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 0.48rem;
    top: -23px;
    left: -23px;
}

@mixin pseudo768 {
    width: 56px;
    height: 56px;
    line-height: 56px;
    font-size: 0.56rem;
    top: -26px;
    left: -26px;
}

@mixin section-padding {
    padding: 100px 0;
}

@mixin section-padding1024 {
    padding: 80px 0;
}

@mixin section-padding768 {
    padding: 70px 0;
}

@mixin section-padding600 {
    padding: 60px 0;
}

@mixin section-padding450 {
    padding: 50px 0;
}

@mixin circle-item($bg-color, $width, $height, $line-height) {
    border-radius: 50%;
    text-align: center;
    background-color: $bg-color;
    width: $width;
    height: $height;
    line-height: $line-height;
}

@mixin contact-link($color-link, $border-color) {
    width: 312px;
    height: 60px;
    line-height: 60px;
    border: 2px solid #FFF;
    border-radius: 30px;
    font-size: 0.8rem;
    font-weight: 600;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: $color-link;
    border: $border-color;
}

@mixin contact-link1024 {
    width: 248px;
    height: 48px;
    line-height: 48px;
    font-size: 0.68rem;
}

@mixin contact-link600 {
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 0.64rem;
}

@mixin line-after {
    content: '';
    height: 16px;
    width: 1.5px;
    display: inline-block;
    background-color: #D8D5D5;
    margin-left: 25px;
}

@mixin line-after1024 {
    height: 13px;
}

@mixin line-after450 {
    width: 1.5px;
    margin-left: 10px;
}

@mixin hover-link($link-color) {
    border: 4px solid orange;
    background-color: orange;
    color: $link-color;
}

@mixin top-hover {
    height: 50px;
    width: 50px;
    line-height: 50px;
}