.name-chef {
    margin-bottom: 30px;
    font-size: 1.6rem;
    font-weight: 600;
}

@media screen and (max-width:1024px) {
    .name-chef {
        font-size: 1.4rem;
    }
}

@media screen and (max-width:768px) {
    .name-chef {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:450px) {
    .name-chef {
        font-size: 1rem;
        margin-bottom: 15px;
    }
}