.paragraph-style {
    font-size: $base-font;
    font-weight: $letter-weight;
}

@media screen and (max-width:1024px) {
    .paragraph-style {
        font-size: 0.88rem;
    }
    .footer .paragraph-style {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:768px) {
    .paragraph-style {
        font-size: 0.8rem;
    }
    .footer .paragraph-style {
        font-size: 0.72rem;
    }
}

@media screen and (max-width:600px) {
    .paragraph-style {
        font-size: 0.72rem;
    }
}

@media screen and (max-width:450px) {
    .paragraph-style {
        font-size: 0.64rem;
    }
    .footer .paragraph-style {
        font-size: 0.64rem;
    }
}