.social-links {
    &__item {
        @include circle-item ($primary-color, 50px, 50px, 50px);
        display: inline-block;
        color: $secondary-color;
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
    i:hover {
        transform: scale(1.7);
    }
}

@media screen and (max-width: 520px) {
    .social-links {
        &__item {
            width: 40px;
            height: 40px;
            line-height: 40px;
            &:not(:last-child) {
                margin-right: 20px;
            }
            i:hover {
                transform: scale(1.2);
            }
        }
    }
}