.title {
    font-size: 3.4rem;
    color: $primary-color;
    line-height: 4rem;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 35px;
    letter-spacing: 0.24rem;
    max-width: 914px;
}

@media screen and (max-width:1024px) {
    .title {
        font-size: 2.4rem;
        max-width: 697px;
        line-height: 2.9rem;
        letter-spacing: 0.19rem;
    }
}

@media screen and (max-width:768px) {
    .title {
        font-size: 2rem;
        max-width: 329px;
        line-height: 2.3rem;
        letter-spacing: 0.14rem;
    }
}

@media screen and (max-width:600px) {
    .title {
        font-size: 1.8rem;
        max-width: 300px;
        line-height: 2.2rem;
        letter-spacing: 0.13rem;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:450px) {
    .title {
        font-size: 1.6rem;
        max-width: 280px;
        line-height: 1.95rem;
        letter-spacing: 0.11rem;
    }
}