@import '_base';
@import '_variables';
@import '_mixins';
@import '_main-page';
@import '_header';
@import '_logo';
@import '_menu';
@import '_banner';
@import '_title';
@import '_contact-link';
@import '_about-us';
@import '_pictures';
@import '_content';
@import '_dish';
@import '_dish-title';
@import '_dish-container';
@import '_favorite-dishes';
@import '_about-chef';
@import '_chef-image';
@import '_name-chef';
@import '_footer';
@import '_contact-us';
@import '_our-contacts';
@import '_social-links';
@import '_top';
@import '_paragraph';
@import '_paragraph-style';